<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd ">
<context-param>
<param-name>ADMINCHAT_PATH</param-name>
<param-value>src/com.chat.javaclasses/AdminChatServlet</param-value>
</context-param>
<context-param>
<param-name>ROOMLIST_PATH</param-name>
<param-value>src/com.chat.javaclasses/RoomListServlet</param-value>
</context-param><context-param>
<param-name>CHROOM_PATH</param-name>
<param-value>src/com.chat.javaclasses/ChRoomServlet</param-value>
</context-param>


</web-app>